@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html {
	position:   relative;
	min-height: 100%;
}

body {
	font-family:   'Open Sans', 'Helvetica Neue Light', 'Arial', sans-serif;
	font-weight:   400;
	margin-bottom: 60px;
}

body > .container-fluid {
	padding-top: 60px;
}

.dsp-list {
	margin-top: 10px;
}

.container .text-muted {
	margin: 20px 0;
}

.footer {
	position:         absolute;
	bottom:           0;
	width:            100%;
	/* Set the fixed height of the footer here */
	height:           60px;
	background-color: #222222;
	color:            rgba(255, 255, 255, .75);
}

.footer > .container {
	padding-right: 15px;
	padding-left:  15px;
}

code {
	font-size: 80%;
}

/*.row {*/
/*margin-left:  0 !important;*/
/*margin-right: 0 !important;*/
/*}*/

/*.footer-label-sm {*/

/*font-size: 10px;*/
/*padding:   13px;*/
/*}*/

/*.footer-section-header {*/
/*color: #777;*/
/*}*/

/*hr.footer-hr {*/
/*border-color: #444 !important;*/
/*}*/

/*#db-wrapper {*/
/*padding-top: 30px;*/
/*}*/

/*#db-menu {*/
/*padding-top: 50px;*/
/*}*/

/*#footer > .container {*/
/*padding-left:   15px;*/
/*padding-right:  15px;*/
/*padding-top:    4px;*/
/*padding-bottom: 0;*/
/*margin-bottom:  0;*/
/*}*/

.footer ul, ol {
	margin-bottom: 0;
}

.footer .social-links {
	margin-top: 4px;
}

.footer > .container p {
	margin-bottom: 0;
}

/*legend {*/
/*font-weight:   400;*/
/*margin-bottom: 10px;*/
/*}*/

/*h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {*/
/*font-weight: 700;*/
/*line-height: 1.1;*/
/*color:       inherit;*/
/*}*/

/*.dsp-header {*/
/*text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);*/
/*box-shadow:  0 1px 0 rgba(255, 255, 255, 0.1);*/
/*}*/

/*.dsp-header .navbar-nav > li > a {*/
/*color:              #FFFFFF;*/
/*opacity:            .6;*/
/*-webkit-transition: opacity 1s ease-out;*/
/*transition:         opacity 1s ease-out;*/
/*background-color: rgba(0, 0, 0, .8);*/
/*}*/

/*.dsp-header .navbar-nav > .active > a, .dsp-header .navbar-nav > .active > a:hover {*/
/*color:            #fff;*/
/*opacity:          1;*/
/*background-color: rgba(0, 0, 0, .8);*/
/*}*/

/*.dsp-header .navbar-nav > li > a:hover {*/
/*opacity:            1;*/
/*-webkit-transition: opacity 0.25s ease-in;*/
/*transition:         opacity 0.25s ease-in;*/
/*}*/

/*.dsp-header .navbar-nav > li:hover {*/
/*background-color: rgba(0, 0, 0, .8);*/
/*}*/

/*.dsp-header .navbar-brand:hover, .dsp-header .navbar-brand:focus {*/
/*color:            #FFFFFF;*/
/*background-color: rgba(0, 0, 0, 0);*/
/*}*/

/*.dsp-header a {*/
/*color: #FFFFFF;*/
/*}*/

/*.dsp-header .navbar-nav > .open > a, .dsp-header .navbar-nav > .open > a:hover, .dsp-header .navbar-nav > .open > a:focus {*/
/*color:            #FFFFFF;*/
/*background-color: #463265;*/
/*}*/

/*.inner-content {*/
/*padding: 40px 0 0;*/
/*}*/

/*ul li a:hover {*/
/*text-decoration: none;*/
/*}*/

/*#live-api {*/
/*overflow: auto;*/
/*margin:   20px;*/
/*width:    98%;*/
/*}*/

/*.no-padding {*/
/*padding: 0 !important;*/
/*}*/

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-brand:hover {
	color: #FFFFFF;
}

.navbar-brand img {
	vertical-align: top;
	position:       relative;
	margin-right:   8px;
	margin-top:     -4px;
}