/vendor/
/resources/views/vendor/
/public/vendor/
!/public/vendor/dfe-partner/*
node_modules/
/.env
/.env.copy
/.env.local
/build
/temp
/composer.lock
/.dfe.cluster.json
/tests/storage/*
/_ide_*.php
/original
.env.work
.idea/workspace.xml
.idea/tasks.xml
.idea/composerJson.xml

