/vendor/
/resources/views/vendor/
/public/vendor/
!/public/vendor/dfe-partner/*
node_modules/
/.env
/.env.copy
/.env.local
/.idea/workspace.xml
/.idea/tasks.xml
/build
/temp
/composer.lock
/.dfe.cluster.json
/tests/storage/*
/_ide_*.php
/original

