.alert-partner {
    background-color: #ecedee;
    color:            #333333;
    border-color:     #dcddde;
}

.partner-button {
}

.modal-content > button.close {
    margin-right: 5px;
    margin-top:   5px;
}

.vz-red {
    background-color: #ef1d1d;
    color:            #ef1d1d;
}

.partner-brand > h3 {
    display:     inline-block;
    margin-left: 14px;
}

.partner-copy {
}

.partner-copy h3 {
    margin-left:   32px;
    margin-right:  32px;
    padding-left:  32px;
    padding-right: 32px;
    text-align:    left;
    font-size:     20pt;
    font-family:   "Lato", "Open Sans", sans-serif;
}

.partner-action > .partner-button {
    margin: 15% auto 0 auto;
}

.partner-action {
    float:      right;
    text-align: right;
}

.partner-row {
}

/**
 * Learn More button
 */
.btn-learn-more {
    color:            #ffffff;
    background-color: #d9534f;
    border-color:     #d43f3a;
    vertical-align:   middle;
    float:            right;
    margin-top:       6%;
    margin-right:     15px;
}

.btn-learn-more:focus,
.btn-learn-more.focus {
    color:            #ffffff;
    background-color: #c9302c;
    border-color:     #761c19;
}

.btn-learn-more:hover {
    color:            #ffffff;
    background-color: #c9302c;
    border-color:     #ac2925;
}

.btn-learn-more:active,
.btn-learn-more.active,
.open > .dropdown-toggle.btn-learn-more {
    color:            #ffffff;
    background-color: #c9302c;
    border-color:     #ac2925;
}

.btn-learn-more:active:hover,
.btn-learn-more.active:hover,
.open > .dropdown-toggle.btn-learn-more:hover,
.btn-learn-more:active:focus,
.btn-learn-more.active:focus,
.open > .dropdown-toggle.btn-learn-more:focus,
.btn-learn-more:active.focus,
.btn-learn-more.active.focus,
.open > .dropdown-toggle.btn-learn-more.focus {
    color:            #ffffff;
    background-color: #ac2925;
    border-color:     #761c19;
}

.btn-learn-more:active,
.btn-learn-more.active,
.open > .dropdown-toggle.btn-learn-more {
    background-image: none;
}

.btn-learn-more.disabled,
.btn-learn-more[disabled],
fieldset[disabled] .btn-learn-more,
.btn-learn-more.disabled:hover,
.btn-learn-more[disabled]:hover,
fieldset[disabled] .btn-learn-more:hover,
.btn-learn-more.disabled:focus,
.btn-learn-more[disabled]:focus,
fieldset[disabled] .btn-learn-more:focus,
.btn-learn-more.disabled.focus,
.btn-learn-more[disabled].focus,
fieldset[disabled] .btn-learn-more.focus,
.btn-learn-more.disabled:active,
.btn-learn-more[disabled]:active,
fieldset[disabled] .btn-learn-more:active,
.btn-learn-more.disabled.active,
.btn-learn-more[disabled].active,
fieldset[disabled] .btn-learn-more.active {
    background-color: #d9534f;
    border-color:     #d43f3a;
}

.btn-learn-more .badge {
    color:            #d9534f;
    background-color: #ffffff;
}

.partner-row form button {
    margin-top: 30px;
}

.partner-row > .partner-brand {
}

.partner-row .partner-button .fa-fw {
    text-align: right;
}

@media (max-width: 1164px) {
    .partner-copy h3 {
        margin-top: 10px;
    }
}

